#header {
    height: 50px;
    background: #10284e;
    color: #ffffff;
}

#branding h1 {
    color: #ffffff;
}

a:link,
a:visited {
    color: #10284e;
}

div.breadcrumbs {
    background: #30caa0;
    color: #10284e;
}

div.breadcrumbs a {
    color: #333;
}

.module h2, 
.module caption, 
.inline-group h2 {
    background: #30caa0;
}

.button, 
input[type=submit], 
input[type=button], 
.submit-row input, 
a.button {
    background: #10284e;
    color: #ffffff; 
}

.button:active, 
input[type=submit]:active, 
input[type=button]:active, 
.button:focus, 
input[type=submit]:focus, 
input[type=button]:focus, 
.button:hover, 
input[type=submit]:hover, 
input[type=button]:hover {
    background: #284575;
}

.button.default, 
input[type=submit].default, 
.submit-row input.default {
    float: right;
    border: none;
    font-weight: 400;
    background: #10284e;
}

.button.default:active, 
input[type=submit].default:active, 
.button.default:focus, 
input[type=submit].default:focus, 
.button.default:hover, 
input[type=submit].default:hover {
    background: #204167;
}